body{
    background-color:  burlywood;
}
.big{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 800px;
    height:400px;
    justify-content: space-around;
    gap: 70px;
    margin-top: 30px;
    cursor: pointer;
}
.dots{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}
.dots:hover{
    background-color: white;
    transition: 0.0001s;
}